DB_HOST=localhost
DB_USER=labber
DB_PASS=labber
DB_NAME=midterm
# Uncomment and set to true for Heroku
# DB_SSL=true if heroku
DB_PORT=5432
GOOGLE_MAPS_API_KEY= AIzaSyDdex8TfA_1guOj2CJaFkXmd4slHO4Yw88
