<!-- Displays the list of all Favourite Maps of the user -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Favourites</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap">
  </script>
  <script defer src="/scripts/favs.js"></script>
  <!-- <script defer src="/scripts/maps.js"></script> -->

</head>

<!-- A temporary internal css styling. Will be moved to a scss stylesheet later-->
<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6477b9;
    color: white;
    height: 120px;
    width: 100%;
    position: fixed;
    padding: 0px 40px;

  }

  #favs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 40px;
  }

  #map-screen {
    display: flex;
    justify-content: center;
    margin: 50px 0px 50px 40px;
  }

  h2 {
    padding-top: 200px;
    padding-left: 40px;
    margin: 0px;
  }



</style>

</head>

<body>
  <header>
    <nav>
      <h1 id="home-link"> Wiki Map </h1>
      <div class="nav-links">
        <a href="/maps/create">Create Map</a>
      </div>
    </nav>

    <h2> List of Favourite Maps </h2>

  </header>

  <div id="map-screen">

    <div id="favs"> </div>

    <iframe src="http://localhost:8080/locs/1" width="70%" height="800"></iframe>

  </div>


</body>

</html>
