<!-- Displays what the users see when they click on Create New Map -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create Map</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <!-- A temporary internal css styling. Will be moved to a scss stylesheet later-->
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      #create-map-container {
        height: 500px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .map {
        height: 250px;
        width: 250px;
        margin: 20px;

      }

    </style>

  <!-- scripts -->
  <script src="/vendor/jquery-3.0.0.js"></script>

  <!-- google api script -->

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap"></script>
  <!-- <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap">
  </script> -->
  <!-- I presume this is telling it where to send the data?-->
  <script defer src="/scripts/create-map.js"></script>
</head>


<body>
  <h1>Create Maps</h1>

 <!-- copied from tinyapp; change details including route-->
  <form class="form-inline" action="/maps/create" method="POST">
    <div>
      <label for="title">Map title</label>
      <input
        class="form-control"
        type="text"
        name="createMap"
        placeholder="Maps are awesome"
        style="width: 300px; margin: 1em"
      />
      <!-- note btn class is bootstrap and will not work until you bring it into the project -->
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

</section>
<div id="tweetList">
  <div id="create-map-container">

  </div>

</body>

</html>
