<!-- Displays the list of all Available Maps -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Maps</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap">
  </script>
  <script defer src="/scripts/maps.js"></script>


  <!-- A temporary internal css styling. Will be moved to a scss stylesheet later-->
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    #maps-container {
      height: 500px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .map {
      height: 250px;
      width: 250px;
      margin: 20px;
    }

    .each-map-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

  </style>

</head>

<body>
  <h1>Available Maps</h1>

  <div id="maps-container">
  
  </div>

</body>

</html>
