// See: https://sass-lang.com/

body,
html {
  margin: 0;

}

.mainContainer {
  display: flex;
  flex-direction: column;


}

.nav{
  background-color: goldenrod;
  display: flex;
  flex-direction: row;
  position: fixed;

}

#maps-container{
  height: 50vh;
  width: 50vw;
}
